<div class="countries-main-container">
  <div class="countries-header-container">
    <div class="countries-header-info-container">
      <div class="countries-sub-container">
        <img src="assets/logo.png" class="logo" alt="">
        <div class="header-text">
          Best list of all countries with their <br> flags on the whole internet !!!
        </div>
      </div>

    </div>
    <div class="countries-header-search-container">
      <mat-card class="class-search-box-container">
        <div class="search-card-container">
          <div class="search-box">
            <input type="text" class="input-box" (keyup)="searchForCountries($event)" #searchVal placeholder="Search For Countries">
          </div>
          <div class="countries-search-button"  (click)="onSearchClick(searchVal.value)">Search</div>
        </div>
      </mat-card>

    </div>
  </div>
  <div class="country-displayer-container">
    <div *ngFor="let country of countriesToBeDisplayed" class="country-card-container">
      <app-card [cardData]="country"></app-card>
    </div>

  </div>
  <div *ngIf="countryService.showLoadMoreButton" (click)="loadMore()" class="countries-search-button margin-bottom-20">
    +
  </div>
  <div class="countries-footer-container">
    <div class="logo-footer">
      <img src="assets/logo.png" class="logo" alt="">
      <div class="subscribe-section">
        <input placeholder="Enter Email" class="input-box-subscribe" >
        <div class="countries-search-button">Subscribe</div>
      </div>
    </div>
    <div class="logo-footer">
        <div class="footer-text">Worldpedia INC</div>
        <div class="footer-text">2003 | All rights reserved</div>
    </div>
  </div>
</div>
